# billiard ball description
# billiard ball radius is define as 11 pixels

[pictures]
ball0 = ./res/pics/ball/ball-white.png
ball1 = ./res/pics/ball/ball-yellow.png
ball2 = ./res/pics/ball/ball-blue.png
ball3 = ./res/pics/ball/ball-red.png
ball4 = ./res/pics/ball/ball-violet.png
ball5 = ./res/pics/ball/ball-orange.png
ball6 = ./res/pics/ball/ball-green.png
ball7 = ./res/pics/ball/ball-brown.png
ball8 = ./res/pics/ball/ball-black.png
ball9 = ./res/pics/ball/ball-dark-blue.png
ball10 = ./res/pics/ball/ball-dark-red.png
ball11 = ./res/pics/ball/ball-dark-violet.png
ball12 = ./res/pics/ball/ball-teal.png
ball13 = ./res/pics/ball/ball-earth.png
ball14 = ./res/pics/ball/ball-pink.png
ball15 = ./res/pics/ball/ball-dark-green.png
ball16 = ./res/pics/ball/ball-rainbow.png
ball17 = ./res/pics/ball/ball-rainbow.png

# initial position
# WHITE BALL
[ball0]
score = -3
start_x = 600.0
start_y = 400.0
collision_sound = ./res/sound/billiard_ball_hit1.ogg

# YELLOW BALL
[ball1]
score = 1
start_x = 260.0
start_y = 400.0
collision_sound = ./res/sound/billiard_ball_hit1.ogg

# BLUE BALL
[ball2]
score = 1
start_x = 240.0814157
start_y = 388.5
collision_sound = ./res/sound/billiard_ball_hit2.ogg

# RED BALL
[ball3]
score = 1
start_x = 240.0814157 
start_y = 411.5
collision_sound = ./res/sound/billiard_ball_hit3.ogg

# VIOLET BALL
[ball4]
score = 1
start_x = 220.1628314
start_y = 377.0
collision_sound = ./res/sound/billiard_ball_hit1.ogg

# ORANGE BALL
[ball5]
score = 1
start_x = 220.1628314
start_y = 400.0
collision_sound = ./res/sound/billiard_ball_hit2.ogg

# GREEN BALL
[ball6]
score = 1
start_x = 220.1628314
start_y = 423.0
collision_sound = ./res/sound/billiard_ball_hit3.ogg

# BROWN BALL
[ball7]
score = 1
start_x = 200.2442471
start_y = 365.5
collision_sound = ./res/sound/billiard_ball_hit1.ogg

# BLACK BALL
[ball8]
score = 1
start_x = 200.2442471
start_y = 388.5
collision_sound = ./res/sound/billiard_ball_hit2.ogg

# DARK BLUE BALL
[ball9]
score = 1
start_x = 200.2242471
start_y = 411.5
collision_sound = ./res/sound/billiard_ball_hit3.ogg

# DARK RED BALL
[ball10]
score = 1
start_x = 200.2242471
start_y = 434.5
collision_sound = ./res/sound/billiard_ball_hit1.ogg

# DARK VIOLET BALL
[ball11]
score = 1
start_x = 180.3256629
start_y = 354.0
collision_sound = ./res/sound/billiard_ball_hit2.ogg

# TEAL BALL
[ball12]
score = 1
start_x = 180.3256629
start_y = 377.0
collision_sound = ./res/sound/billiard_ball_hit3.ogg

# EARTH BALL
[ball13]
score = 6
start_x = 180.3256629
start_y = 400.0
collision_sound = ./res/sound/billiard_ball_hit1.ogg

# PINK BALL
[ball14]
score = 1
start_x = 180.3256629
start_y = 423.0
collision_sound = ./res/sound/billiard_ball_hit2.ogg

# DARK GREEN BALL
[ball15]
score = 1
start_x = 180.3256629
start_y = 446.0
collision_sound = ./res/sound/billiard_ball_hit3.ogg

# RAINBOW BALL
[ball16]
score = 10
start_x = 400.0
start_y = 300.0
collision_sound = ./res/sound/billiard_ball_hit1.ogg

# RAINBOW BALL
[ball17]
score = 10
start_x = 400
start_y = 500.0
collision_sound = ./res/sound/billiard_ball_hit1.ogg
